<%if @user.profile_type %>
<li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Account Type:</span><%= "Public" %></li>
<% else %>
<li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Account Type:</span><%= "Private"%></li>
<%end%>
